{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}
<style>

</style>
{% block main %}
<div class="form-signin">
    <form action="/login" method="post">
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
    </form>
</div>
{% endblock %}
