{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<div class="form-signin text-center">
  <h1 class="h3 mb-3 fw-normal">Please Log In</h1>
    <form action="/login" method="post">
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" autofocus name="username" placeholder="Username">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div style="padding:10px"></div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
    </form>
</div>
{% endblock %}
