{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <!-- https://getbootstrap.com/docs/5.0/forms/validation/ -->
    <!-- https://www.w3schools.com/howto/howto_js_password_validation.asp -->
<div class="form-signin text-center">
    <h1 class="h3 mb-3 fw-normal">Register</h1>
    <form action="/register" method="post">
        <div class="form-floating">
            <input autocomplete="off" autofocus class="form-control" name="username" type="text" required id="floatingInput">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input class="form-control" name="password" type="password" required id="floatingPassword">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input class="form-control" name="confirmation" type="password" required id="floatingPasswordC">
            <label for="floatingPasswordC">Confirm Password</label>
        </div>
        <div style="padding:10px" id="passwordCheck"></div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}
